@font-face {
    font-family: 'Ramabhadra';
    src: url('Ramabhadra.woff2') format('woff2'),
        url('Ramabhadra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

